@model UserModel
@using ContactControl.Enums
@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h1 class="display-4">Edit User</h1>
</div>

<form asp-controller="User" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter username">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter user email">
        @Html.ValidationMessageFor(x => x.Email)
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Enter user login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="Profile">Profile</label>
        <select class="form-select" asp-for="Profile">
            <option value="">Select</option>
            <option value="@ProfileEnum.Admin">Admin</option>
            <option value="@ProfileEnum.User">User</option>
        </select>
        @Html.ValidationMessageFor(x => x.Profile)
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" asp-controller="User" asp-action="Index" role="button">Back</a>
    </div>
</form>
