@model List<UserModel>
@using ContactControl.Enums
@{
    ViewData["Title"] = "User List";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a role="button" class="btn btn-primary" asp-controler="User" asp-action="Create">New User</a>
    </div>
    <br />
    @if(TempData["success"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["success"]
        </div>
    }
    @if(TempData["error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["error"]
        </div>
    }
    <br />
    <h1 class="display-4">User List</h1>

    <table class="table" id="table-users">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Profile</th>
                <th scope="col">Registration date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(UserModel user in Model)
                {
<tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.Name</td>
                        <td>@user.Login</td>
                        <td>@user.Email</td>
                        <td>@user.Profile</td>
                        <td>@user.RegistrationDate</td>
                        <td>
                            <a role="button" class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            <a role="button" class="btn btn-danger" asp-controller="User" asp-action="DeleteConfirm" asp-route-id="@user.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

